<h2 mat-dialog-title>Configure your Box</h2>
<div mat-dialog-content>
  <form #form="ngForm">
    <mat-form-field>
      <mat-label>Tipus de Box</mat-label>
      <mat-select name="type" [(ngModel)]="selectedBoxType" required>
        <mat-option value="Wavelet">Wavelet</mat-option>
        <mat-option value="ArithmeticOperation"
          >Arithmetic Operation</mat-option
        >
        <mat-option value="Quantizer">Quantizer</mat-option>
        <mat-option value="EntropyEncoder">EntropyEncoder</mat-option>
        <mat-option value="Predictor">Predictor</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selectedBoxType == 'ArithmeticOperation'">
      <label> Valor: </label>
      <input
        type="number"
        name="OperationNumber"
        [(ngModel)]="operationNumber"
        min="1"
        max="255"
        required
      />
      <br />
      <label> Operació: </label>
      <select name="OperationType" [(ngModel)]="operationType" required>
        <option value="Add">Add</option>
        <option value="Sub">Substract</option>
        <option value="Mult">Multiply</option>
        <option value="Div">Divide</option>
      </select>
    </div>

    <div *ngIf="selectedBoxType == 'Wavelet'">
      <label> Nivells: </label>
      <input
        type="number"
        name="WaveletLevel"
        [(ngModel)]="waveletLevel"
        min="1"
        max="7"
        required
      />
      <br />
      <label> Tipus de Wavelet: </label>
      <select name="WaveletType" [(ngModel)]="waveletType" required>
        <option value="Haar">Haar</option>
        <option value="5:3">5:3</option>
        <option value="9:7">9:7</option>
      </select>
    </div>

    <div *ngIf="selectedBoxType == 'Quantizer'">
      <label> Pas de Quantització: </label>
      <input
        type="number"
        name="Q_step"
        [(ngModel)]="q_step"
        min="1"
        max="255"
        required
      />
    </div>

    <div *ngIf="selectedBoxType == 'EntropyEncoder'">
      <label> Tipus de Codificador: </label>
      <select name="EncoderType" [(ngModel)]="encoderType" required>
        <option value="Zip">Zip</option>
        <option value="Lzma">Lzma</option>
      </select>
    </div>

    <div *ngIf="selectedBoxType == 'Predictor'">
      <label> Tipus de Predictor: </label>
      <select name="PredictorType" [(ngModel)]="predictorType" required>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="!form.valid"
    (click)="onSaveClick()"
  >
    Save
  </button>
</div>
